*{box-sizing:border-box;}
.main-content :first-child{ font-size:15px;}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0; 
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.container {
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
.container {
    position: relative;
    text-align: left;
}
.ui.container {
    display: block;
    max-width: 100%!important;
}
.ui.vertical.stripe {
    padding: 3em 0em;
}
#token-sale .heading-container {
    text-align: center;
}
#token-sale {
    /* margin-bottom: 30px; */
    padding-bottom: 30px;
    color: #ffffff;
}







.et_pb_column {
    float: left;
    position: relative;
    z-index: 9;
    background-position: center;
    background-size: cover;
}

.et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et-last-child, .et_pb_row_inner .et_pb_column:last-child {
    margin-right: 0!important; 
}
p{padding-bottom: 1em;}
p:first-child {
    margin-top: 0;
}
.ui.vertical.stripe p {
    font-size: 1.1em;
    line-height: 1.7em;
}


@media (min-width: 981px)
.et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column {
    margin-right: 5.5%;
}
@media (min-width: 981px)
.et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et-last-child, .et_pb_row_inner .et_pb_column:last-child {
    margin-right: 0!important;
}
@media only screen and (min-width: 1350px)
.et_pb_row {
    padding: 27px 0px;
}
@media only screen and (min-width: 1200px)
.ui.container {
    width: 1127px;
    margin-left: auto!important;
    margin-right: auto!important;
}




